<header class="ui segment grid">
  <div class="four wide column">
    <h2 class="ui header">
      Cryptocurrency Project Pulse
    </h2>
  </div>

  <div class="three wide column">
    <div class="ui search">
      <div class="ui icon input big">
        <input type="text"
                class="prompt"
                placeholder="project name"
                onchange={{action addProject}} />
        <i class="plus icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>

  <div class="three wide column middle aligned content">
    {{#if invalidName}}
      `{{invalidName}}` is not available,
      <a target="_blank" 
         href="https://github.com/givanse/project-pulse/tree/master/descriptors">you can add it here</a>
    {{/if}}
  </div>

</header>

<div class="ui grid">
  <div class="{{if repos 'thirteen' 'sixteen'}} wide column">
  <div class="ui seven cards">
    {{#each projectNames key="@index" as |projectName|}}
      <div class="card">
        <ProjectPanel @projectName={{projectName}}
                      @close={{action removeProject}} 
                      @showRepos={{action showRepos}} />
      </div>
    {{/each}}
  </div>
  </div>

  <aside class="three wide column">
    <h2 class="ui header">
      {{asideProjectName}}
    </h2>

    {{#each repos key="nameWithOwner" as |repo|}}
      <div class="ui relaxed divided list">
        <div class="item">
          <div class="content">
            <RepoSummary @repo={{repo}} />
          </div>
        </div>
      </div>
      <div class="ui fitted divider"></div>
    {{/each}}
  </aside>
</div>
