<header class="ui fixed menu grid">
  <div class="three wide column">
    <a href="/" data-navigo>
      <h1 class="ui header brown">
        CPP
        <div class="sub header mobile hidden">
          Cryptocurrency Project Pulse
        </div>
      </h1>
    </a>
  </div>

  <div class="thirteen wide column">
    {{#if projectId}}

      {{! Back to dashboard }}
      <a href="/{{projectNamesQs}}" data-navigo>
        <div class="ui violet basic button big">
          {{#each projectNamesHuman key="@index" as |name index|}}
            {{#if index}},&nbsp;{{/if}}
            {{name}}
          {{/each}}
        </div>
      </a>

    {{else if projectNames}}

      <ProjectSearchBar @addProject={{action addProject}} />

    {{/if}}
  </div>
</header>

<div class="flexbox column full height">
<section class="page-content">

  {{#if invalidName}}
    <div class="ui segment bottom attached middle aligned big">
      <i class="exclamation icon red"></i>
      `{{invalidName}}` is not available,
      <a target="_blank" 
          href="https://github.com/givanse/project-pulse/tree/master/descriptors">
        you can add it here
      </a> by clicking "Create new file"
    </div>
  {{else if status.c404}}
    <div class="ui segment bottom attached middle aligned big">
      <i class="exclamation icon red"></i>
      404 Page not found.
    </div>
  {{else}}
    <br>
  {{/if}}

  {{#if projectId}}
    <ProjectFull @projectId={{projectId}} />
  {{else if projectNames.length}}
    <ProjectSummaries @projectNames={{projectNames}}
                      @addProject={{action addProject}}
                      @removeProject={{action removeProject}} />
  {{else}}
    <div class="ui segment maxw600 margin auto">

      <div class="ui divided list big">

        <div class="item">
          <div class="content">
            <a href="/?projectNames=dogecoin,useless-ethereum-token,monacoin,nyan-coin,garlic-coin" data-navigo>
              Fun coins
            </a>
            <div class="description">built for the lolz</div>
          </div>
        </div>

        <div class="item">
          <div class="content">
            <a href="/?projectNames=bitcoin,bitcoin-cash,bitcoin-gold,bitcoin-diamond,bitcoin-private" data-navigo>
              Bitcoin forks
            </a>
            <div class="description">projects that kept the word Bitcoin in their name</div>
          </div>
        </div>

        <div class="item">
          <div class="content">
            <a href="/?projectNames=bitcoin,ethereum,ripple,bitcoin-cash,eos" data-navigo>
              Top 5
            </a>
            <div class="description">biggest market cap according to coinmarketcap.com</div>
          </div>
        </div>

        <div class="item">
          <div class="content">
            <a href="/?projectNames=bitconnect,onecoin" data-navigo>
              Scams
            </a>
            <div class="description">exposed as ponzi schemes or other forms of scams</div>
          </div>
        </div>

        <div class="item">
          <div class="content">
            <a href="/?projectNames=ethereum,eos,neo,nem" data-navigo>
              Smart contracts
            </a>
            <div class="description">projects building smart contracts platforms</div>
          </div>
        </div>

        <div class="item">
          <div class="content">
            <a href="/?projectNames=bancor,enjin,omisego" data-navigo>
              Ethereum tokens
            </a>
            <div class="description">miscellaneous Ethereum tokens</div>
          </div>
        </div>

        <div class="item">
          <div class="content">
            <a href="/?projectNames=enjin,first-blood,skin-coin" data-navigo>
              Gaming related
            </a>
            <div class="description">digital assets and game content</div>
          </div>
        </div>

      </div>
      <br>
      <br>
      <p class="text align center big">Also you can add a project using the search field at the top.</p>
    </div>
  {{/if}}
</section>

<footer class="ui vertical footer segment">
  <a href="https://github.com/givanse/project-pulse">
    <i class="github icon large"></i>
    Source Code 
  </a>
</footer>
</div>