<header class="ui fixed menu grid">
  <div class="three wide column">
    <h1 class="ui header brown">
      CPP
      <div class="sub header">Cryptocurrency Project Pulse</div>
    </h1>
  </div>

  <div class="thirteen wide column">
    {{#if projectName}}

      <div class="ui violet basic button big"
           onclick={{action goBack}}>
        {{#each projectNamesHuman key="@index" as |name index|}}
          {{#if index}},&nbsp;{{/if}}
          {{name}}
        {{/each}}
      </div>

    {{else if projectNames}}

      <div class="ui search">
        <div class="ui icon input big">
          <input type="text"
                  class="prompt"
                  placeholder="project name"
                  onchange={{action addProject}} />
          <i class="search plus icon"></i>
        </div>
        <div class="results"></div>
      </div>

    {{/if}}
  </div>
</header>

<div class="flexbox column full height">
<section class="page-content">

  {{#if invalidName}}
    <div class="ui segment bottom attached middle aligned big">
      <i class="exclamation icon"></i>
      `{{invalidName}}` is not available,
      <a target="_blank" 
          href="https://github.com/givanse/project-pulse/tree/master/descriptors">
        you can add it here
      </a> by clicking "Create new file"
    </div>
  {{else}}
    <br>
  {{/if}}

  {{#if projectName}}
    <ProjectFull @projectName={{projectName}} />
  {{else if projectNames}}
    <div class="ui cards">
      {{#each projectNames key="id" as |project|}}
        <div class="card">
          <ProjectPanel @projectName={{project.name}}
                        @close={{action removeProject}}
                        @transitionToP={{action transitionToP project.name}} />
        </div>
      {{/each}}
    </div>
  {{/if}}
</section>

<footer class="ui vertical footer segment">
  <a href="https://github.com/givanse/project-pulse">
    <i class="github icon large"></i>
    Source Code 
  </a>
</footer>
</div>