<section class="project-panel">
  <h2 class="ui header">
    {{project.id}}
  </h2>

  <i class="share alternate icon  counterclockwise rotated"></i>
  {{project.forkCount}}

  <i class="history icon"></i>
  {{ipad project.commits 4}}

  <br>

  <i class="exclamation circle icon green" title="open issues"></i>
  {{ipad project.issuesOpen 4}}
  <i class="code icon green" title="open pull requests"></i>
  {{ipad project.prsOpen 4}}
  <br>
  <i class="exclamation circle icon red" title="closed issues"></i>
  {{ipad project.issuesClosed 4}}
  <i class="code icon red" title="closed pull requests"></i>
  {{ipad project.prsClosed 4}}

  <br>

  {{#each reposSorted key="full_name" as |repo|}}
    <div class="ui relaxed divided list">
      <RepoSummary @repo={{repo}} />
    </div>
  {{/each}}
</section>
