{{#if project}}
  <ProjectSummary @project={{project}}
                  @close={{action @close project.id}} />

  <div class="ui bottom attached button center aligned"
       onclick={{@transitionToP}}>
    <i class="github icon large"
       title="github repositories"></i>
    {{project.repos.length}} Repos
  </div>
{{else}}
  <br>
  <div class="ui active centered inline loader middle aligned"></div>
  <br>
{{/if}}