<div class="content">
  {{#if @close}}
    <i class="right floated times circle outline icon large"
      title="remove project"
      onclick={{@close}}></i>
  {{/if}}
  <div class="header capitalize">{{@project.name}}</div>

  <div class="ui divider"></div>

  <i class="fork icon"></i>
  {{ipad @project.forkCount 4}}
  <br>
  <i class="history icon"></i>
  {{ipad @project.commits 4}}
  <br>
  <i class="star outline icon"></i>
  {{ipad @project.stargazers 4}}
  <br>
  <i class="eye icon"></i>
  {{ipad @project.watchers 4}}
  <br>
  <i class="exclamation circle icon green" title="open issues"></i>
  {{ipad @project.issuesOpen 4}}
  <i class="exclamation circle icon red" title="closed issues"></i>
  {{ipad @project.issuesClosed 4}}
  <br>
  <i class="pull request icon green" title="open pull requests">PR</i>
  {{ipad @project.prsOpen 4}}
  <i class="pull request icon red" title="closed pull requests">PR</i>
  {{ipad @project.prsClosed 4}}
</div>